################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinnStock.Backend/FinnStockSolution/FinnStock.Tests/appsettings.json
/FinnStock.Backend/FinnStockSolution/FinnStock.WebAPI/appsettings.json
/FinnStock.Backend/FinnStockSolution/FinnStock.Azure/FinnStock.Azure.csproj
