@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
html {
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
}

body,
#root {
    height: inherit;
}
